@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(0, 0%, 81%);
    margin: 8px;

}

@media (min-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
    }


}

@media (min-width: 1440px) {
    body {
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid: gap 10px;
        grid-template-areas:
            "area1 area1 area2 area3 "
            "area4 area5 area5 area3 ";
    }

    .card__1 {
        grid-area: area1;
        border: 1px;
        border-radius: 10px;
        background-color: hsl(263, 55%, 52%);
        padding: 1rem;
        box-sizing: border-box;
        
    }

    .card__2 {
       grid-area: area2;
        border: 1px;
        border-radius: 10px;
        padding: 1rem;
        background-color: hsl(217, 19%, 35%);
        justify-content: center;
    }

    .card__3 {
        grid-area: area4;
        border: 1px;
        border-radius: 10px;
        padding: 1rem;
        background-color: hsl(0, 0%, 100%);
        justify-content: center;
    }
    
    .card__4 {
        grid-area: area5;
        border: 1px;
        border-radius: 10px;
        padding: 1rem;
        background-color: hsl(219, 29%, 14%);
        color: hsl(210, 46%, 95%);
        justify-content: center;
    }
    
    .card__5 {
        grid-area: area3;
        border: 1px;
        padding: 1rem;
        border-radius: 10px;
        background-color: hsl(0, 0%, 100%);
        justify-content: center;
    }
    

}

.card__1 {
    width: 300px;
    border: 1px;
    border-radius: 10px;
    background-color: hsl(263, 55%, 52%);
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
}

.card__2 {
    width: 300px;
    border: 1px;
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(217, 19%, 35%);
    justify-content: center;
}

.card__3 {
    width: 300px;
    border: 1px;
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
}

.card__4 {
    width: 300px;
    border: 1px;
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(219, 29%, 14%);
    color: hsl(210, 46%, 95%);
    justify-content: center;
}

.card__5 {
    width: 300px;
    border: 1px;
    padding: 1rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
}

.container__name {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.card__header {
    display: flex;
    flex-direction: row;

}

.card__image {
    border-radius: 50%;
    align-content: center;
    border: 3px solid grey;

}

.card__name {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.card__title {
    opacity: .5;
    display: inline-block;
    bottom: 12px;
    text-align: left;
    align-content: baseline;
}

.card__body--featured {
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
}

.card__body--regular {
    font-size: 13px;
    opacity: .7;
    padding: 0.5rem;
    font-weight: bold;
}

